body {
	font-family: "Gotham", Arial, sans-serif;
	font-weight: 400;
	font-size: var(--font-size-base);
	background-color: var(--primary-background);
	color: var(--text);
}

h1 {
	font-family: "Gotham", Arial, sans-serif;
	font-weight: 800;
	font-size: var(--font-size-ultra);
}

h2,
h3 {
	font-family: "Gotham", Arial, sans-serif;
	font-weight: 700;
}

.header {
	padding: var(--spacing-xl);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.header > img {
	height: 32px;
}

.header > span {
	font-weight: 700;
	font-size: var(--font-size-xl);
}

.wrapper {
	padding: 0 var(--spacing-lg);
	box-sizing: border-box;
	border-radius: 8px;
}

.content {
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content__header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	padding: var(--spacing-3xl) var(--spacing-3xl) var(--spacing-base)
		var(--spacing-2xl);
	position: relative;
	z-index: 1;
}

#background {
	position: absolute;
	width: 100%;
	height: 200%;
	top: 0;
	left: 0;
	z-index: -1;
}

.edit {
	position: absolute;
	border-radius: 50%;
	top: 0;
	right: 0;
	padding: var(--spacing-base);
}

.edit > button {
	position: relative;
	background: none;
	border: none;
}

#edit__logo {
	width: 25px;
	height: 25px;
	padding: var(--spacing-sm);
	opacity: 0.7;
}

#edit__logo  {
	opacity: 1;
}

.modal {
	display: none;
	position: absolute;
	right: 100%;
	bottom: 1;
	background-color: var(--secondary-background);
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.modal-showed {
	display: block;
	position: absolute;
	bottom: 1;
	right: 0;
	background-color: var(--secondary-background);
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.modal__buttons {
	display: flex;
	padding: var(--spacing-sm);
}

#photosButton,
#colorsButton {
	width: 100%;
	cursor: pointer;
	place-content: center;
	color: var(--text-subdued);
	transition: color 0.2s;
	height: 1.5em;
	border-radius: 4px;
	padding: var(--spacing-xs) 0;
}

#photosButton:hover,
#colorsButton:hover {
	color: var(--text);
}

#photosButton.active,
#colorsButton.active {
	color: var(--text);
	background-color: var(--tertiary-background);
}

#colors__list {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	padding: var(--spacing-sm);
	box-sizing: border-box;
}

#colors__list > li {
	padding: var(--spacing-xs);
}

#colors__list > li > span {
	display: block;
	width: 144px;
	height: 81px;
	border-radius: 4px;
}

#colors__list > li > span:hover {
	outline: 1px solid var(--text-subdued);
}

#photos__list {
	display: none;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	padding: var(--spacing-sm);
	box-sizing: border-box;
}

#photos__list > li {
	padding: var(--spacing-xs);
}

#photos__list > li > span {
	display: block;
	width: 144px;
	height: 81px;
	border-radius: 4px;
}

#photos__list > li > span:hover {
	outline: 1px solid var(--text-subdued);
}

.userInfos {
	display: flex;
}

#avatar > :nth-child(1) {
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.userInfos__details {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 var(--spacing-xl);
}

.userInfos__details > h1 {
	margin-top: var(--spacing-base);
	border-radius: 100%;
}

.details__product {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.details__product > img {
	width: 1em;
}

.userInfos__details > ul {
	display: flex;
	gap: 1em;
	margin-top: var(--spacing-base);
	font-size: var(--font-size-sm);
}

#playlists,
.details__product {
	color: var(--text-subdued);
}

.content__wrapper {
	width: 100%;
	padding: var(--spacing-3xl) var(--spacing-xl) var(--spacing-xl)
		var(--spacing-xl);
	box-sizing: border-box;
	background: linear-gradient(
		to bottom,
		transparent 0%,
		var(--secondary-background) 15%
	);
	z-index: 10;
}

.content__main {
	width: 100%;
	margin-top: var(--spacing-xl);
}

.artists__title,
.tracks__title,
.playlist__title {
	padding: var(--spacing-3xl) 0 var(--spacing-xl);
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.artists__title span,
.tracks__title span {
	font-weight: 700;
	color: var(--text-subdued);
	font-size: var(--font-size-sm);
}

.artists__title span:hover,
.tracks__title span:hover {
	font-weight: 700;
	color: var(--text-subdued);
	font-size: var(--font-size-sm);
	text-decoration: underline;
	cursor: pointer;
}

.artists__title h2,
.tracks__title h2,
.playlist__title h2 {
	font-size: var(--font-size-xl);
	font-weight: 700;
}

#artists__list {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: minmax(150px, 1fr);
}

#artists__list > li {
	font-size: 16px;
	width: 100%;
}

#artists__list li > div:first-child {
	padding: var(--spacing-base);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.divAvatar {
	aspect-ratio: 1/1;
	position: relative;
}

.divAvatar img {
	height: 100%;
	width: 100%;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.divTitle {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	font-size: var(--font-size-base);
}

.divTitle__type {
	color: var(--text-subdued);
	text-transform: capitalize;
}

#tracks__list {
	width: 100%;
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	row-gap: 1em;
	padding: var(--spacing-base) 0;
}

#tracks__list > li {
	display: grid;
	grid-template-columns:
		[index] 30px
		[title] minmax(150px, 3fr)
		[album] minmax(100px, 2fr)
		[duration] 60px;
	align-items: center;
	gap: 12px;
	font-size: var(--font-size-base);
	color: var(--text-subdued);
	padding: 0 var(--spacing-lg);
}

#tracks__list > li > span:first-child {
	margin-right: var(--spacing-base);
}

.mainInfos {
	min-width: 0;
	display: flex;
	align-items: center;
}

.mainInfos > span:first-child {
	line-height: 0;
	margin-right: var(--spacing-base);
}

.mainInfos span img {
	width: 40px;
	height: 40px;
	border-radius: 4px;
}

.title {
	min-width: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.25em;
}

.title > span:first-child {
	color: var(--text);
	font-size: var(--font-size-base);
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.title > span:nth-child(2) {
	font-size: var(--font-size-sm);
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.title > span:nth-child(2) a {
	white-space: nowrap;
}

.album {
	font-size: var(--font-size-sm);
}

.duration {
	font-size: var(--font-size-sm);
}

#playlists__list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#playlists__list > li {
	width: max-content;
}

#playlists__list li > div:first-child {
	padding: var(--spacing-base);
}

#playlists__list div > div {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-top: var(--spacing-sm);
}

#playlists__list div > span:nth-child(2) {
	font-size: var(--font-size-sm);
	color: var(--text-subdued);
}

#playlists__list li div span img {
	display: block;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width: 1024px) {
	.album {
		display: none;
	}

	#tracks__list > li {
		grid-template-columns:
			[index] 30px
			[title] minmax(150px, 5fr)
			[duration] 60px;
	}
}

@media (max-width: 768px) {
	#background {
		height: 300%;
	}

	h1 {
		font-size: var(--font-size-4xl);
	}

	#avatar > img {
		width: 150px;
		height: 150px;
	}

	.content__header {
		padding: var(--spacing-xl) var(--spacing-lg);
	}

	.userInfos__details {
		padding: 0 var(--spacing-base);
	}

	.artists__title h2,
	.tracks__title h2,
	.playlist__title h2 {
		font-size: var(--font-size-lg);
	}

	.wrapper {
		padding: 0;
	}

	#tracks__list > li {
		padding: 0 var(--spacing-sm);
	}

	.content__wrapper {
		padding: var(--spacing-3xl) var(--spacing-base) var(--spacing-base)
			var(--spacing-base);
	}

	.edit {
		padding: var(--spacing-sm);
	}

	#tracks__list > li > span:first-child {
		margin-right: 0;
	}
}

@media (max-width: 480px) {
	#tracks__list > li {
		grid-template-columns:
			[index] 30px
			[title] minmax(150px, 6fr);
	}

	.userInfos__details > ul {
		font-size: var(--font-size-xs);
	}

	#avatar > img {
		width: 100px;
		height: 100px;
	}

  #playlists__list li div span img {
    width: 135px;
    height: 135px;
  }
}
